*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.Hero{
    background-image: url('../Images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    
}


.res-img-div{
    height: 550px;
}

.res-img{
  border-radius:  70px 0 70px 0;
}

.card,
.product-card{
    border-radius:  70px 0px 70px 70px;
    
}

.small-div{
  border-radius: 0 70px 0 70px ;
}

.card2,
.product-card2{
    border-radius: 0  70px 70px 70px ;
}

.Menu{
    background-image: url('../Images/bg4.jpg');
    background-size: contain;
}



  #scroller, #scroller2{
    background-color: rgba(228, 228, 228, 0.5);
  }




  @media only screen and (max-width: 1000px) {
    
    .Hero{
        background-size: cover;
    }
  }

  .scrolling-text-wrapper{

    overflow: hidden;
   margin-bottom: 40px;
    
  }
 .scrolling-text{
    width: 200%;
    animation-name: textScroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    white-space: nowrap;
}

@keyframes  textScroll {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
 
  30% {
    transform: rotate(120deg);
  }

 
 
  60% {
    transform: rotate(240deg);
  }
 


  100% {
    transform: rotate(360deg);
  }
}

#dish-photo {
  animation: rotate 7s steps(4) infinite;
}


.product-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
}

/* Ensure product cards stay inline */
.product-card,
.product-card2 {
  display: inline-block;
  vertical-align: top;
  white-space: normal; /* Reset to allow text wrapping */
}
